<app-user-navbar ></app-user-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading text-center"
             style="background-image: linear-gradient(rgb(57, 90, 95), #213321); border-color: #213321; height: 50px;">
          <h4 class="text-white" style="line-height: 50px;">Espace Gestion Utilisateur</h4>
        </div>
        <div class="panel-body">
          <p class="text-center" style="font-family: Verdana;">
            Bienvenue dans le système de gestion des <strong>utilisateurs et rôles</strong> !
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div class="container text-center mt-5">
  <h2 class="text-primary">Liste des Utilisateurs</h2>
  <div class="table-responsive mt-4">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Rôle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
